*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{

}
ul li{
    list-style: none;
}
header{
    position: fixed;
    background-color: transparent;
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #afafaf93;
    z-index: 100;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 85%;
    margin: auto;

}
header nav h2{
    color: #fff;
    font-size: 30px;
}
header nav h2 span{
    color: #08d665;
}
header nav ul{
    display: flex;
}
header nav ul li{
    position: relative;
    margin: 0 25px;
    height: 80px;
    line-height: 80px;
}
header nav ul li a{
    color: #c8c6c6;
    font-size: 17px;
}
header nav ul li::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: #08d665;
    transition: 0.3s;
}
header nav ul li:hover::after,
header nav ul li.activ::after{
    width: 100%;
}
header nav .links a i{
    color: #08d665;
    font-size: 24px;
    margin-left: 15px;
}
header nav .links a i:hover{
    color: #fff;
}
.box1{
    background-image: url(../صور/00012.jpg);
    background-position: top;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    z-index: 99;
}

.box1 .box2{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100%;
}
.box1 .box2 .box3{
    width: 50%;
}
.box1 .box2 .box3 h1{
    color: #fff;
    font-size: 60px;
    margin-bottom: 10px;
}
.box1 .box2 .box3 span{
    color: #08d665;
    font-size: 40px;
}
.box1 .box2 .box3  p{
    font-size: 17px;
    color: #9c9c9c;
    margin:  10px 0 50px;
    line-height: 1.4;
}
.box1 .box2 .box3 .btn{
    color: #fff;
    background-color: #08d665;
    border: 1px solid  #08d665;
    padding: 14px 40px;
    border-radius: 5px;
    transition: 0.3s;
}
.box1 .box2 .box3 .btn:hover{
    background-color: transparent;
}
.box1 .box2 .img{
    width: 35%;
    position: absolute;
    bottom: -10px;
    right: 0;
    
    
}
#menu{
    display: none;
}
.box1 .box2 .img img{
    width:  100%;
}

#h {
    text-align: center;
    padding-top: 100px;
    font-size: 30px;
}

.projects {
    width: 100%;
    height: auto;
    background-color: #1B262C;
}

.projects h2 {
    padding-top: 70px;
    text-align: center;
    color: #08d665;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 0;
}

strong {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.container .content {
    width: 360px;
    height: 300px;
    margin: 20px 0;
    border: 2px solid white;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.9s;
}

.container .content:hover {
    transform: scale(1.1);
}

.container .content .img img {
    width: 100%;
    height: 200px;
    display: flex;
}

.container .content .text {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    background-color: #fff;
    padding: 20px;
}

.footer {
    background-color: black;
    color: wheat;
    width: 100%;
    height: 80px;
}

.footer {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

footer .links a i{
    color: #3bad6e;
    font-size: 24px;
    margin-left: 15px;
}
@media(max-width: 980px){
    header nav ul{
        position: absolute;
        right: -420px;
        top: 100%;
        flex-direction: column;
        background-color: black;
        border-left: 1px solid #444444a8;
        width: 400px;
        height: 100vh;
        text-align: center;
        padding: 20px 0;
        transition: 0.5s;
    }
    header nav ul.active{
        right: 0px;
    }
    header nav .links{
        display: none;
    }
    #menu{
        display: block;
        font-size: 30px;
        color: #fff;
    }
    .box1{
        height: auto;
    }
    .box1 .box2{
        flex-direction: column;
    }
    .box1 .box2 .img{
        position:relative;
        width: 70%;
    }
    .box1 .box2 .box3{
        width: 80%;
        text-align: center;
        margin-top: 150px;
        margin-bottom: 60px;
    }
    .box1 .box2 .box3 h1{
        font-size: 50px;
    }
    .box1 .box2 .box3 span{
        font-size: 30px;
    }
    /* .container {
        flex-direction: column;
    }
    .container .content {
        margin-left: auto;
        margin-right: auto;
    } */
}
@media(max-width: 450px){
    .box1 .box2 .box3 h1{
        font-size: 35px;
    }
    .box1 .box2 .box3 span{
        font-size: 25px;
    }
    .box1 .box2 .box3 p{
        font-size: 17px;
    }
    .box1 .box2 .img{
        width: 80%;
    }
    header nav ul {
        width: 320px;
    }
    .footer {
        flex-direction: column;
        justify-content: center;
        left: 40px;
        bottom: 10px;
    }
.links a i {
    padding-top: 10px;
}
.container {
    flex-direction: column;
}
.container .content {
    margin-left: auto;
    margin-right: auto;
    width: 320px;
}

}