* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.h {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    height: auto;
    background-color: antiquewhite;
}

.h .h-1 {
    background-color: aliceblue;
    padding: 30px;
    border-radius: 15px;
}

.h .h-1 .content {
    width: 500px;
}

.h .h-1 img {
    height: 250px;
    border-radius: 8px;
    width: 500px;
}

.h .h-1 h2 {
    padding-top: 20px;
    font-size: 40px;
}

.h .h-1 p {
    padding-top: 20px;
    display: flex;
    width: 550p;
    flex-wrap: wrap;
    line-height: 1.2;
}

.h .h-1 .p {
    background-color: antiquewhite;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width:570px){
    .h {
        padding-top: 0;
        padding-bottom: 0;
    }
    .h .h-1 {
        width: 100%;
    }
    .h .h-1 .content {
        width: auto;
    }
    .h .h-1 img {
        width: 100%;
    }
}